.bi{
    fill: currentColor;
}
.img-thumbnail{
    width: 60%;
}

.card {
    background: center no-repeat;
    background-size: 70%;
}

.part-1 ul{
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
}
.card:hover .part-1 ul{
    transform: translateY(0);
    opacity: 1;
}

.form-select{
    width: 15%;
}

.list-group a{
    color:gray;
}
