.bi{
    fill: currentColor;
}

.text-white{
    color:rgb(0, 0, 0) !important;
}

.modal.fade .modal-dialog {
    transition: transform 0.5s ease-out;
  }

.card {
    background: center no-repeat;
    background-size: cover;
}


 .part-1 ul{
    
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
}
.card:hover .part-1 ul{
    transform: translateY(0);
    opacity: 1;
} 



#custom-categories{
  width: 80% !important;
}

/* Carousel base class */
/* .carousel {
    margin-bottom: 4rem;
    
}
.carousel-caption {

    bottom: 3rem;
    z-index: 10;
}


.carousel-item {
    height: 42rem;
    transition: transform 1.0s ease-in-out;

}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 42rem;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
*/

.contact{
    background-color: #f7f7f7;
    border-radius: 1rem;
}



.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

.main-sec{
    min-height: 50vh;
}

.footer{
    margin-top: 10rem;
}

/* .carousel-buttons > button{
    border: none;
    background-color: transparent;
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block !important; 
}

.carousel-inner {
  display: flex;

.carousel-item {
  width: 100%; 
  transition: transform 0.6s ease; 
} */

/* @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}  */
