<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url "account" %}">
            <span data-feather="home"></span>
            Account
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "orders" %}">
            <span data-feather="file"></span>
                Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <span data-feather="shopping-cart"></span>
                Products
            </a>
        </li>
        </ul>
    </div>
</nav>

<script>

    document.querySelectorAll(".nav-link").forEach((link) => {
        if (link.href === window.location.href) {
            link.classList.add("active");
            link.setAttribute("aria-current", "page");
        }
    });

</script>