<nav class="d-md-block bg-light sidebar collapse " id="sidebarMenu" >
    <div class="position-sticky pt-3">
        <ul class="nav flex-column nav-pills mb-auto" >
            <li class="nav-item">
                <a class="nav-link" href="{% url "account" %}">
                <span data-feather="home"></span>
                Account
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "orders" %}">
                <span data-feather="file"></span>
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                    Products
                </a>
            </li>
        </ul>
        <hr>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url "logout-page" %}" type="button" class="btn btn-light">Log Out</a>
            {% else %}
                <a href="{% url "login-page" %}" type="button" class="btn btn-light">Log In</a>
                <a href="{% url "register-page" %}" type="button" class="btn btn-light">Sign in</a>
            {% endif %}
        </div>
    </div>
</nav>

<script>

    document.querySelectorAll(".nav-link").forEach((link) => {
        if (link.href === window.location.href) {
            link.classList.add("active");
            link.setAttribute("aria-current", "page");
        }
    });

</script>